.galleryContainer_main{
    color: white;
    background-color: white;
    width: 100%;
    height: auto;
}
.box_container{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
.left_container{
    background-color: rgb(31, 30, 29);
    width: 100%;
    height: auto;
}
.description_main_left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.text {
    display: flex;
    align-items: center;
    position: relative;
  padding: 50px;
  }
  
  .text h3 {
    margin: 0;
    flex: 1;
    margin-right: 20px;

  }
  .text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00b894;
  }
.col{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.right_container{
    width: 50%;
    background-color: rgb(243, 240, 240);
    height: 100pc;

}
.checkmark {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00b894;
  position: relative;
  margin-right: 10px;
}

.checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
  width: 8px;
  height: 15px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}
.right_container{
  display:flex;
  height: 100%;
  width: 100%;
  align-items: center;

}
.image-boxes{
  background-color: #ddc9c999;
  height: 150px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 -10px 10px -10px rgba(0, 0, 0, 0.5) inset;
}
.image-main-box{
  display: flex;
  width:30%;
  flex-direction: column;
  align-items: center;
  

}
.image-box .image {
  width: 100px;

  cursor: pointer;
}
.displayed-image{
  width: 50%;
}
.image-display .image {
  width: 245px;
  height: 245px;

}