*{
  margin: 0;
  padding: 0;
}
main{
  background-color:black;
  font:red;
  height: 100pc;
}
.container{
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
  }

.prompt {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  .button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    background-color: #2133cf;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 18px;
    
  }
  
  .button:hover {
    background-color: #2d6bb1;
  }
  .title{
    font-size: 2rem;
    padding-bottom: 2rem;

  }
  .title span{
      color:#2133cf;
  }
  input{
    outline: none;
all:unset    
  }
  input:focus {
    outline: none;
    border: none;
    background-color: #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}