.btn-prompts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:none;
    padding: 0 20px;
}

button{
    margin: 10px;
    padding: .5rem;
    color: white;
    color: rgba(15, 14, 14, 0.479);
    border: none;
    padding: 12px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: auto;
    height:auto;
    font-size: 16px;
}

button:hover {
    background-color: #0c0d6b;
    color: white;


}

.selected-txt,p{
    text-align: center;
    padding: 4px;
    font-size: small;
    color: white;
}

/* App.css */
.reload-icon {
    cursor: pointer;
}

.reload-icon:active,
.reload-icon:hover {
    animation: spin 1s linear;
    animation-iteration-count: 3;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}