.btn-prompts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:none;
    
}

button{
    
    margin: 10px;
    padding: .5rem;
    color: white;
    color: rgba(15, 14, 14, 0.479);
    border: none;
    padding: 12px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 200px;
    height:40px;
    
}

button:hover {
    background-color: #0c0d6b;
    color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn-prompts { font-size: 1.2rem; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-prompts { font-size: 1.4rem; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-prompts { font-size: 1.6rem; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn-prompts { font-size: 1.8rem; }
}

.selected-txt,p{
    text-align: center;
    padding: 4px;
    font-size: small;
    color: white;
}

/* App.css */
.reload-icon {
    cursor: pointer;
}

.reload-icon:active,
.reload-icon:hover {
    animation: spin 1s linear;
    animation-iteration-count: 3;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}